.tradeUI {
    display: flex;
    flex-direction: row;
}

.tradeButtons {
    display: flex;
    flex-direction: row;
    margin: 12px auto; /* top/bottom 12px, left/right auto for horizontal centering */
    justify-content: center;
    width: min-content;
    min-width: 100%;
}

.trade-resources {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trade-players button {
    background-color: color-mix(
        in srgb,
        var(--player-color) 50%,
        white
    );
}