.inventory-resources {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    justify-content: center;
}

.inventory-ports {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    align-items: center;
}

/* .inventory-port {
    width: min-content;
    height: min-content;
} */

.inventory-special-victory {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;

    margin-top: 10px;
}

.inventory-dev-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 8px;
    flex-wrap: wrap;
    margin-top: 10px;
}