.clickable-circle,
.clickable-circle-inactive {
    stroke: black;
    stroke-width: 4;

    transition:
        r 0.3s ease,
        fill 0.3s ease,
        opacity 0.3s ease;
}

.clickable-circle {
    cursor: pointer;
}

.clickable-circle:hover {
    r: var(--hover-radius);
    fill: var(--green-hover);
}

.clickable-circle-inactive {
    opacity: 0;
    r: 0;
}