.vertex {
    stroke: black;
    stroke-width: 4;
}

.vertex-existing {
    cursor: default;
}

.city-star {
    /* fill: white; */
    font-size: 40px;
    font-weight: bold;
    pointer-events: none;
}

.city {}

.settlement {}